<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agenda</title>
    <link rel="icon" type="image/png" th:href="@{/images/logo-sem-texto.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/agenda.css}">
</head>

<body>

    <div class="layout-wrapper">
        <nav th:replace="~{fragments/nav}"></nav>

        <div class="main">
            <header th:replace="~{fragments/header}"></header>

            <div class="calendario-div">
                <h2 class="agenda-titulo">Agenda da Semana</h2>

                <div class="passador-semana">
                    <a class="passador-btn" aria-label="Semana anterior">&lt;</a>
                    <span class="passador-texto">Dias 04/10 - 10/10</span>
                    <a class="passador-btn" aria-label="Próxima semana">&gt;</a>
                </div>

                <table class="agenda">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Domingo</th>
                            <th>Segunda</th>
                            <th>Terça</th>
                            <th>Quarta</th>
                            <th>Quinta</th>
                            <th>Sexta</th>
                            <th>Sábado</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="horario">08:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="horario">08:40</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Daniel</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="horario">09:20</td>
                            <td></td>
                            <td>Leonardo</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="horario">10:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Guilherme</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="horario">10:40</td>
                            <td></td>
                            <td></td>
                            <td>Lucca</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Vitor</td>
                        </tr>
                        <tr>
                            <td class="horario">11:20</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Rafael</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script th:src="@{/js/header.js}"></script>
</body>

</html>